@import '../parts/vars';

main#product{

	& .product-image{
		display: block;
		width: 100%;
	}

	& .product-swiper-wrapper{

		position: relative;

		$opacity: .4;

		& .product-next{
			position: relative;
			position: absolute;
			top: 50%;
			right: -20px;
			transform: translateY(-50%);
			font-size: 46px;
			width: 40px;
			height: 60px;
			line-height: 60px;
			text-align: center;
			z-index: 200;
			border-radius: 12px 0 0 12px;
			background: linear-gradient(to right, rgba($secondary, $opacity), rgba($secondary, 0));
			
			&:before{
				transition: transform .2s;
			}
			
			&:hover:before{
				transform: translateX(5px);
			}
		}
		
		& .product-prev{
			@extend .product-next;
			right: unset;
			left: -20px;
			border-radius: 0 12px 12px 0;
			background: linear-gradient(to left, rgba($secondary, $opacity), rgba($secondary, 0));

			&:hover:before{
				transform: translateX(-5px);
			}
		}
	}

	& #product-pagination{

		& .swiper-pagination-bullet{

			&-active{
				background: $primary;
			}
		}
	}

	& .price-prefix{
		font-size: 14px;
		font-weight: 500;
		text-transform: uppercase;
	}

	& .price-table{
		
		display: table;
		width: 100%;
		border-top: 2px solid $text;

		& .kv-pair{

			display: table-row;

			&:nth-child(odd){
				background-color: rgba(black, .03);
			}

			& .key, & .value{
				display: table-cell;
				padding: 10px;
			}

			& .key{
				font-size: 16px;
			}

			& .value{
				font-size: 1.7rem;
				text-align: right;
				line-height: 1.6em;
				font-weight: 500;
			}
		}
	}

	& #delivery, & #docs{
		font-size: 16px;
		line-height: 1.4em;
		font-weight: 400;
		padding: 20px 0;
	}

	& #docs img{
		width: 100px;
	}
	 
	& .smart-bttn{
		margin: 30px 0;
	}

	& .tabs{
		background-color: transparent;

		& .tab{

			& a{
				color: $text;
				transition: color .2s;
				font-weight: 400;
				font-size: calc(16px + .02vmax);

				&.active{
					color: $primary;
				}

				&:before{
					margin-right: 6px;
				}

				&:focus{
					background-color: transparent;
				}
			}
		}

		& .indicator{
			background-color: $primary;
		}
	}

	& .actions-wrapper{
		
		margin-bottom: 3vmax;

		& #product-actions{
	
			@include shadow;
			border-radius: $border-radius;
	
			& a{
				display: block;
				aspect-ratio: 4 / 2;
				background-size: cover;
				background-position: center center;
			}
		}
	}

	& .price{
		color: $secondary;
		font-weight: 500;
		margin: 30px 0;
		font-size: 3rem;
		line-height: 1.4em;
	}

	& .complectations{

		& .color-list{

			display: flex;

			& .c-color{
				display: block;
				width: 40px;
				aspect-ratio: 1 / 1;
				border-radius: 50%;
				background-size: cover;
				margin-right: 5px;

				&.active{
					box-shadow: 0 0 0 2px $primary inset;
				}
			}
		}
	}

	& .characteristics{

		columns: 2;
		@media(max-width: $medium){
			columns: 1;
		}

		& .kv-pair{
			display: flex;
			padding: 6px;
			border-top: 1px solid #ccc;

			& .key{
				flex-grow: 1;
			}

			& .value{
				font-weight: 500;

				& .char-yes{
					color: $success;
				}

				& .char-no{
					color: $primary;
				}
			}
		}
	}

	& .buttons-wrapper{
		display: flex;
		align-items: center;
	}
}

@media print{

	body.print-modal{

		& header, nav{
			display: none;
		}
		
		& main{
			display: none;
		}
	
		& .mobile-repeat, & .fab{
			display: none !important;
		}
		
		& .zoomer-wrapper{
	
			width: unset;
			height: unset;
			position: relative;
			top: unset;
			left: unset;
			display: block;
			width: fit-content;
			transform: none !important;
			
			&.open{
				background: none;
			}
			
			& > *:not(.zoomer-viewer){
				display: none;
			}
			
			& .zoomer-viewer{
	
				width: fit-content;
				height: 100%;
				display: block;
				text-align: left;
				transform: none !important;
				
				& .zoomer-prev, & .zoomer-next{
					display: none;
				}
				
				& .zoomer-current{
					text-align: left;
					width: fit-content;
					transform: none !important;
					
					& img{
						margin: 0 !important;
						object-fit: unset;
						max-width: 100%;
						transform: none !important;
					}
				}
			}
		}
		
		& footer, & .footer-copyright{
			display: none;
		}
	}

}