@import '../parts/vars';

main#product{

	& .product-image{
		display: block;
		width: 100%;
	}

	& .price-prefix{
		font-size: 14px;
		font-weight: 500;
		text-transform: uppercase;
	}

	& .price-table{
		
		display: table;
		width: 100%;
		border-top: 2px solid $text;

		& .kv-pair{

			display: table-row;

			&:nth-child(odd){
				background-color: rgba(black, .03);
			}

			& .key, & .value{
				display: table-cell;
				padding: 10px;
			}

			& .key{
				font-size: 16px;
			}

			& .value{
				font-size: 1.7rem;
				text-align: right;
				line-height: 1.6em;
				font-weight: 500;
			}
		}
	}

	& #delivery, & #docs{
		font-size: 16px;
		line-height: 1.4em;
		font-weight: 400;
	}
	 
	& .smart-bttn{
		margin: 30px 0;
	}

	& .tabs{
		background-color: transparent;

		& .tab{

			& a{
				color: $text;
				transition: color .2s;
				font-weight: 400;
				font-size: calc(16px + .02vmax);

				&.active{
					color: $primary;
				}

				&:before{
					margin-right: 6px;
				}

				&:focus{
					background-color: transparent;
				}
			}
		}

		& .indicator{
			background-color: $primary;
		}
	}

	& .actions-wrapper{
		
		margin-bottom: 3vmax;

		& #product-actions{
	
			@include shadow;
			border-radius: $border-radius;
	
			& a{
				display: block;
				aspect-ratio: 4 / 2;
				background-size: cover;
				background-position: center center;
			}
		}
	}

	& .price{
		color: $secondary;
		font-weight: 500;
		margin: 30px 0;
		font-size: 3rem;
		line-height: 1.4em;
	}

	& .characteristics{

		columns: 2;
		@media(max-width: $medium){
			columns: 1;
		}

		& .kv-pair{
			display: flex;
			padding: 6px;
			border-top: 1px solid #ccc;

			& .key{
				flex-grow: 1;
			}

			& .value{
				font-weight: 500;

				& .char-yes{
					color: $success;
				}

				& .char-no{
					color: $primary;
				}
			}
		}
	}
}