main#checkout form .address-list li {
  display: flex;
  align-items: baseline; }
  main#checkout form .address-list li label {
    flex-grow: 1; }

main#checkout form .interval-dropdown {
  display: none; }
  main#checkout form .interval-dropdown.visible {
    display: initial; }

main#checkout .delivery-details {
  display: none; }
  main#checkout .delivery-details.visible {
    display: block; }

main#checkout .payments-wrapper .payment {
  color: #3C84F3;
  margin-bottom: 1.5rem; }
  main#checkout .payments-wrapper .payment input[type=radio] ~ label {
    text-align: center;
    background: #FBFBFD;
    border: 1px solid #3C84F3;
    border-radius: 6px;
    display: block;
    padding: 10px 0;
    transition: box-shadow .2s, background-color .2s; }
    main#checkout .payments-wrapper .payment input[type=radio] ~ label span, main#checkout .payments-wrapper .payment input[type=radio] ~ label a {
      display: block; }
    main#checkout .payments-wrapper .payment input[type=radio] ~ label .title {
      font-weight: 400; }
    main#checkout .payments-wrapper .payment input[type=radio] ~ label .subtitle, main#checkout .payments-wrapper .payment input[type=radio] ~ label a {
      font-size: 14px;
      line-height: 1.2em; }
    main#checkout .payments-wrapper .payment input[type=radio] ~ label:before {
      display: none; }
  main#checkout .payments-wrapper .payment input[type=radio]:checked ~ label {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4) inset;
    background-color: #f4f4fa; }

main#checkout .cart-content {
  display: table;
  width: 100%; }
  main#checkout .cart-content .cart-entry {
    display: table-row;
    font-size: 16px;
    border-radius: 6px; }
    main#checkout .cart-content .cart-entry:nth-child(odd) {
      background-color: rgba(0, 0, 0, 0.03); }
    main#checkout .cart-content .cart-entry > * {
      display: table-cell;
      vertical-align: middle;
      padding: 6px; }
    main#checkout .cart-content .cart-entry .img-wrapper {
      width: 60px; }
    main#checkout .cart-content .cart-entry .name {
      font-weight: 500; }
      main#checkout .cart-content .cart-entry .name .subtitle {
        color: #818181;
        font-weight: 300;
        font-size: 14px;
        line-height: 1.2em; }
    main#checkout .cart-content .cart-entry .counter-wrapper {
      padding: 0 10px; }
      main#checkout .cart-content .cart-entry .counter-wrapper .counter {
        font-size: calc(16px + .1vmax);
        display: inline-flex; }
        main#checkout .cart-content .cart-entry .counter-wrapper .counter input {
          width: 30px;
          border: 0;
          background-color: transparent;
          text-align: center; }
          main#checkout .cart-content .cart-entry .counter-wrapper .counter input::-webkit-inner-spin-button, main#checkout .cart-content .cart-entry .counter-wrapper .counter input::-webkit-outer-spin-button {
            display: none; }
    main#checkout .cart-content .cart-entry .price {
      white-space: nowrap;
      min-width: 80px;
      text-align: center;
      font-weight: 500; }

main#checkout .summary {
  font-weight: 500;
  margin-top: 20px;
  font-size: 1.4rem; }

main#checkout .results-wrapper {
  margin: 1vmax 0; }
  main#checkout .results-wrapper .kv-pair {
    -moz-column-break-inside: avoid;
         break-inside: avoid;
    display: flex; }
    main#checkout .results-wrapper .kv-pair:nth-child(odd) {
      background-color: rgba(0, 0, 0, 0.03); }
    main#checkout .results-wrapper .kv-pair .key {
      width: 170px;
      flex-shrink: 0; }
    main#checkout .results-wrapper .kv-pair .value {
      flex-grow: 1;
      font-weight: 600; }
    main#checkout .results-wrapper .kv-pair > * {
      padding: 12px; }
  @media (max-width: 800px) {
    main#checkout .results-wrapper {
      margin: 0; }
      main#checkout .results-wrapper.rw-left {
        margin-top: 20px; }
      main#checkout .results-wrapper.rw-right .kv-pair:nth-child(odd) {
        background-color: transparent; }
      main#checkout .results-wrapper.rw-right .kv-pair:nth-child(even) {
        background-color: rgba(0, 0, 0, 0.03); } }
  @media (max-width: 600px) {
    main#checkout .results-wrapper .kv-pair {
      flex-direction: column; }
      main#checkout .results-wrapper .kv-pair .key {
        width: 100%;
        padding-bottom: 0; }
      main#checkout .results-wrapper .kv-pair .value {
        padding-top: 0; } }

main#checkout .comment {
  padding: 10px;
  margin-bottom: 40px; }

main#checkout .results-cart {
  display: table;
  width: 100%; }
  main#checkout .results-cart .result-cart-entry {
    display: table-row; }
    main#checkout .results-cart .result-cart-entry:nth-child(odd) {
      background-color: rgba(0, 0, 0, 0.03); }
    main#checkout .results-cart .result-cart-entry > * {
      display: table-cell;
      vertical-align: middle;
      padding: 6px; }
    main#checkout .results-cart .result-cart-entry .img-wrapper {
      width: 70px; }
    main#checkout .results-cart .result-cart-entry .name .title {
      font-weight: 500; }
    main#checkout .results-cart .result-cart-entry .name .subtitle {
      font-size: 14px;
      color: #818181; }
    main#checkout .results-cart .result-cart-entry .price {
      font-weight: 500;
      white-space: nowrap; }

main#checkout .result-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 50vh; }
  main#checkout .result-wrapper .result-icon {
    font-size: 5vmax;
    line-height: 1.2em; }
    main#checkout .result-wrapper .result-icon.success {
      color: #00AC5A; }
    main#checkout .result-wrapper .result-icon.error {
      color: #FF2741; }
