main#details .kv-table {
  display: table;
  width: 100%; }
  main#details .kv-table .kv-pair {
    display: table-row; }
    main#details .kv-table .kv-pair .key {
      display: table-cell;
      padding-right: 20px;
      font-size: 14px;
      line-height: 1.4em; }
    main#details .kv-table .kv-pair .value {
      display: table-cell;
      font-weight: 400; }
    main#details .kv-table .kv-pair > * {
      padding: 6px 0; }
  @media (max-width: 600px) {
    main#details .kv-table {
      display: block; }
      main#details .kv-table .kv-pair {
        display: block; }
        main#details .kv-table .kv-pair .key, main#details .kv-table .kv-pair .value {
          display: block; }
        main#details .kv-table .kv-pair .key {
          padding-bottom: 0; }
        main#details .kv-table .kv-pair .value {
          padding-top: 0; } }
