body main#main section#hero #actions-slider {
  height: calc(100% - 29px);
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 2px 6px rgba(0, 0, 0, 0.1), 0 8px 9px rgba(0, 0, 0, 0.1); }
  body main#main section#hero #actions-slider a {
    background-position: center center;
    background-size: cover; }
    @media (max-width: 1200px) {
      body main#main section#hero #actions-slider a {
        aspect-ratio: 2 / 1; } }

body main#main section#hero .pop-wrapper {
  padding: 16px;
  background: #fff;
  border-radius: 6px;
  text-align: right;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 2px 6px rgba(0, 0, 0, 0.1), 0 8px 9px rgba(0, 0, 0, 0.1); }
  body main#main section#hero .pop-wrapper .product-card {
    background-color: #fff; }
  @media (min-width: 600px) {
    body main#main section#hero .pop-wrapper .labes {
      justify-content: flex-end; } }
  body main#main section#hero .pop-wrapper .pop-header {
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: left; }

body main#main section#categories .row {
  justify-content: center; }

body main#main section#categories .category {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 2px 6px rgba(0, 0, 0, 0.1), 0 8px 9px rgba(0, 0, 0, 0.1);
  background-size: cover;
  background-position: left center;
  font-weight: 500;
  border-radius: 6px;
  margin-bottom: 1rem;
  background-color: #fff;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden; }
  body main#main section#categories .category:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(to right, transparent, white 55%); }
  body main#main section#categories .category .lazy {
    aspect-ratio: 1 / 1;
    width: 50%;
    display: block;
    background-size: contain;
    flex-shrink: 0;
    position: relative;
    z-index: 1;
    background-repeat: no-repeat; }
  body main#main section#categories .category .info {
    display: block;
    position: relative;
    z-index: 1; }
    body main#main section#categories .category .info .low {
      display: block;
      font-weight: 300;
      color: #818181; }
  @media (max-width: 1600px) and (min-width: 1200px) {
    body main#main section#categories .category {
      flex-direction: column;
      align-items: flex-start; }
      body main#main section#categories .category:before {
        display: none; }
      body main#main section#categories .category .info {
        width: 100%;
        background: #fff;
        text-align: center;
        padding: 10px 0; } }
  @media (max-width: 600px) and (min-width: 400px) {
    body main#main section#categories .category {
      flex-direction: column;
      align-items: flex-start; }
      body main#main section#categories .category:before {
        display: none; }
      body main#main section#categories .category .lazy {
        aspect-ratio: 2 / 1;
        width: 100%;
        background-repeat: no-repeat; }
      body main#main section#categories .category .info {
        width: 100%;
        background: #fff;
        text-align: center;
        padding: 10px 0; }
        body main#main section#categories .category .info .name {
          white-space: nowrap;
          overflow: hidden;
          width: 100%;
          text-overflow: ellipsis;
          display: block;
          padding: 0 6px; } }

body main#main section#contacts {
  margin: 4vmax 0;
  padding: 4vmax 0;
  position: relative;
  background-color: #3C84F3;
  color: #fff; }
  body main#main section#contacts a:not(.bttn) {
    color: #fff;
    text-decoration: underline; }
  body main#main section#contacts:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url(../../img/mountains.jpg);
    background-size: cover;
    background-position: center center;
    mix-blend-mode: multiply; }
  body main#main section#contacts .container {
    position: relative;
    z-index: 2; }
