main#news section#news .container .top-news-entry {
  background: #0077FA;
  border-radius: 6px;
  padding: calc(17px + .4vmax) calc(10px + .4vmax);
  box-sizing: border-box;
  color: #fff;
  position: relative;
  overflow: hidden;
  margin-left: 0;
  margin-right: 0; }
  main#news section#news .container .top-news-entry:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    border-bottom-right-radius: 1000px;
    background-color: #0068DB; }
  main#news section#news .container .top-news-entry a {
    color: #fff; }
  main#news section#news .container .top-news-entry .top-news-image img {
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 2px 6px rgba(0, 0, 0, 0.1), 0 8px 9px rgba(0, 0, 0, 0.1); }
  main#news section#news .container .top-news-entry .date, main#news section#news .container .top-news-entry .intro {
    color: rgba(255, 255, 255, 0.7); }
  main#news section#news .container .top-news-entry .link {
    margin-top: 20px; }

main#news section#news .container #news-actions-slider img {
  border-radius: 6px;
  aspect-ratio: 2 / 1;
  -o-object-fit: cover;
     object-fit: cover; }
