main#shops .address-entry {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 1.4em;
  margin-bottom: 10px;
  position: relative;
  z-index: 2;
  cursor: pointer;
  transition: background-color .2s; }
  @media (max-width: 900px) {
    main#shops .address-entry {
      overflow: hidden; } }
  main#shops .address-entry:hover:after {
    background-color: rgba(0, 0, 0, 0.03); }
  main#shops .address-entry .img-wrapper {
    width: 160px;
    flex-shrink: 0;
    margin-right: 10px; }
    main#shops .address-entry .img-wrapper img {
      display: block; }
    @media (max-width: 600px) {
      main#shops .address-entry .img-wrapper {
        margin: 0; } }
  main#shops .address-entry:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 110%;
    height: 100%; }
    @media (max-width: 900px) {
      main#shops .address-entry:after {
        display: none; } }
  main#shops .address-entry.active:after {
    background-color: rgba(0, 0, 0, 0.1);
    z-index: -1; }
  @media (max-width: 600px) {
    main#shops .address-entry {
      flex-direction: column;
      border-radius: 6px;
      margin-bottom: 1.5rem; }
      main#shops .address-entry .img-wrapper {
        width: 100%; }
        main#shops .address-entry .img-wrapper img {
          width: 100%;
          aspect-ratio: 2 / 1;
          -o-object-fit: cover;
             object-fit: cover; }
      main#shops .address-entry .info {
        width: 100%;
        padding: 10px;
        border-radius: 6px; } }

main#shops .info {
  flex-grow: 1; }
  main#shops .info .address {
    font-weight: 500; }
  main#shops .info .description {
    font-size: 14px;
    line-height: 1.4em; }
  main#shops .info .timing .timing-prefix {
    font-size: 14px;
    line-height: 1.4em; }
  main#shops .info .timing .timing-entry {
    display: flex; }
    main#shops .info .timing .timing-entry .key {
      width: 40%; }
    main#shops .info .timing .timing-entry .value {
      flex-grow: 1;
      font-weight: 500; }

main#shops #map {
  height: 100%;
  min-height: 50vh; }
  @media (max-width: 900px) {
    main#shops #map {
      display: none; } }

@media (max-width: 1200px) {
  main#shops .shops-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 2vmax 0; }
    main#shops .shops-wrapper .address-entry {
      width: 50%; }
      main#shops .shops-wrapper .address-entry:after {
        width: 100%; } }

@media (max-width: 900px) {
  main#shops .shops-wrapper {
    display: block; }
    main#shops .shops-wrapper .address-entry {
      width: auto; } }

@media (min-width: 900px) {
  main#shops .link-wrapper {
    display: none; } }
