#howto{

	& .howto-image{
		aspect-ratio: 3 / .97;
		background-size: 100% auto;
		background-position: top center;
		background-repeat: no-repeat;
		margin-bottom: -8vmax;

		@media(max-width: $medium){
			aspect-ratio: 2 / 1;
		}
	}
	
	& .howto-content{
		
		& .container{
			
			& h2{
				text-align: center;
				margin: 2vmax 0;
			}
			
			& .howto-block{
				
				text-align: center;
				
				& .icon{
					color: $secondary;
					font-size: calc(4rem + .2vmax);
					line-height: 1.2em;
				}
				
				& h3{
					color: $secondary;
					font-size: clamp(18px, 2vw, 26px);
					margin: 0;
				}
				
				& .links{

					margin-bottom: $gutter-width;
					
					& a{

						display: inline-block;
						font-size: clamp(15px, 2vmax, 18px);
						
						&:not(:last-of-type){
							margin-right: 10px;
						}

						&:hover{
							text-decoration: underline;
						}
						
						& i{
							margin-right: 6px;
						}
					}
				}
			}
			
			& .separator{
				margin: 2vmax 0;
			}
		}
	}
}